Repository drpebkac/secret-managementr-withkv: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/secrets-management/deploy-secrets-management-code.yml, pipelines/secrets-management/deploy-secrets-management-infra.yml

Path conditions:
  pipelines/secrets-management/deploy-secrets-management-code.yml: any of: function-apps/secrets-management/**/keyvault-reporting, function-apps/secrets-management/**/appreg-reporting, function-apps/secrets-management
  pipelines/secrets-management/deploy-secrets-management-infra.yml: any of: bicep

dum
  .github/workflows/deploy-code.yml
Due: none

files only
  .github/workflows/deploy-code.yml
Due: none

Big commit
  attachment.csv
  bicep/modules/key-vault/vaults-secrets/README.md
  bicep/modules/key-vault/vaults-secrets/main.bicep
  bicep/modules/key-vault/vaults-secrets/main.json
  bicep/modules/key-vault/vaults-secrets/metadata.json
  bicep/modules/key-vault/vaults-secrets/test/main.test.bicep
  bicep/modules/key-vault/vaults-secrets/version.json
  bicep/modules/key-vault/vaults/README.md
  bicep/modules/key-vault/vaults/main.bicep
  bicep/modules/key-vault/vaults/main.json
  bicep/modules/key-vault/vaults/test/main.test.bicep
  bicep/modules/key-vault/vaults/version.json
  bicep/modules/web/function/function-app-consumption.bicep
  bicep/secret-management/deploy-sm-infra.bicep
  bicep/secret-management/deploy-sm-infra.bicepparam
  example.csv
  function-apps/secrets-management/Profile.ps1
  function-apps/secrets-management/appreg-reporting/run.ps1
  function-apps/secrets-management/keyvault-reporting/run.ps1
  function-apps/secrets-management/requirements.psd1
Due: pipelines/secrets-management/deploy-secrets-management-code.yml, pipelines/secrets-management/deploy-secrets-management-infra.yml

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

cunt
  bicep/secret-management/deploy-sm-infra.bicep
Due: pipelines/secrets-management/deploy-secrets-management-infra.yml

What is maths
  bicep/secret-management/deploy-sm-infra.bicep
Due: pipelines/secrets-management/deploy-secrets-management-infra.yml

asd
  bicep/secret-management/deploy-sm-infra.bicep
Due: pipelines/secrets-management/deploy-secrets-management-infra.yml

trhgbn
  bicep/secret-management/deploy-sm-infra.bicep
Due: pipelines/secrets-management/deploy-secrets-management-infra.yml

fews
  bicep/secret-management/deploy-sm-infra.bicep
Due: pipelines/secrets-management/deploy-secrets-management-infra.yml

Why not deploy the thing by default
  bicep/secret-management/deploy-sm-infra.bicep
Due: pipelines/secrets-management/deploy-secrets-management-infra.yml

asdf
  function-apps/secrets-management/appreg-reporting/run.ps1
  function-apps/secrets-management/keyvault-reporting/run.ps1
Due: pipelines/secrets-management/deploy-secrets-management-code.yml

Update code
  function-apps/secrets-management/appreg-reporting/run.ps1
Due: pipelines/secrets-management/deploy-secrets-management-code.yml

Update code
  function-apps/secrets-management/keyvault-reporting/run.ps1
Due: pipelines/secrets-management/deploy-secrets-management-code.yml

fewds
  bicep/secret-management/deploy-sm-infra.bicep
  bicep/secret-management/deploy-sm-infra.bicepparam
  function-apps/secrets-management/keyvault-reporting/run.ps1
Due: pipelines/secrets-management/deploy-secrets-management-code.yml, pipelines/secrets-management/deploy-secrets-management-infra.yml

lets go
  .github/workflows/deploy-infra.yml
  .github/workflows/deploy.yml
  bicep/secret-management/deploy-sm-infra.bicep
  bicep/secret-management/deploy-sm-infra.bicepparam
  function-apps/secrets-management/appreg-reporting/run.ps1
Due: pipelines/secrets-management/deploy-secrets-management-code.yml, pipelines/secrets-management/deploy-secrets-management-infra.yml

Who the hell are you?
  .github/workflows/deploy.yml
Due: none

Holy fucking shit you are fucking dumb you fuckwit
  function-apps/secrets-management/appreg-reporting/run.ps1
  function-apps/secrets-management/keyvault-reporting/run.ps1
Due: pipelines/secrets-management/deploy-secrets-management-code.yml

Update deploy-sm-infra.bicepparam
  bicep/secret-management/deploy-sm-infra.bicepparam
Due: pipelines/secrets-management/deploy-secrets-management-infra.yml

Update deploy-sm-infra.bicep
  bicep/secret-management/deploy-sm-infra.bicep
Due: pipelines/secrets-management/deploy-secrets-management-infra.yml
